@import '../styles/main';

// Testimonial Section
.testimonial-section {
	padding: 3rem 0 7rem 0;
}
.testimonial-slider-wrap {
	position: relative;

	.tns-inner {
		padding-top: 30px;
	}
	.item {
		.testimonial-block {
			blockquote {
				font-size: 16px;
				@media (min-width: $md) {
					line-height: 32px;
					font-size: 18px;
				}
			}
			.author-info {
				.author-pic {
					margin-bottom: 20px;
					img {
						max-width: 80px;
						border-radius: 50%;
					}
				}
				h3 {
					font-size: 14px;
					font-weight: 700;
					color: $dark;
					margin-bottom: 0;
				}
			}

		}
	}
	#testimonial-nav {
		position: absolute;
		top: 50%;
		z-index: 99;
		width: 100%;
		display: none;
		@media (min-width: $md) {
			display: block;
		}
		> span {
			cursor: pointer;
			position: absolute;
			width: 58px;
			height: 58px;
			line-height: 58px;
			border-radius: 50%;
			background: rgba($primary, .1);
			color: $dark;
			transition: .3s all ease;
			&:hover {
				background: $primary;
				color: $white;
			}
		}
		.prev {
			left: -10px;
		}
		.next {
			right: 0;
		}
	}
	.tns-nav {
		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		button {
			background: none;
			border: none;
			display: inline-block;
			position: relative;
			width: 0!important;
			height: 7px!important;
			margin: 2px;

			&:active, &:focus, &:hover {
				outline: none;
				box-shadow: none;
				background: none;
			}

			&:before {
				display: block;
				width: 7px;
				height: 7px;
				left: 0;
				top: 0;
				position: absolute;
				content: "";
				border-radius: 50%;
				transition: .3s all ease;
				background-color: darken(#efefef, 10%);
			}
			&:hover, &.tns-nav-active {
				&:before {
					background-color: $primary;
				}
			}
		}
	}
}

// Blog Section
.before-footer-section {
	padding: 7rem 0 12rem 0!important;
}
.blog-section {
	padding: 7rem 0 12rem 0;
	.post-entry {
		a {
			text-decoration: none;
		}
		.post-thumbnail {
			display: block;
			margin-bottom: 20px;
			img {
				border-radius: 20px;
				transition: .3s all ease;
			}
		}
		.post-content-entry {
			padding-left: 15px;
			padding-right: 15px;
			h3 {
				font-size: 16px;
				margin-bottom: 0;
				font-weight: 600;
				margin-bottom: 7px;
			}
			.meta {
				font-size: 14px;
				a {
					font-weight: 600;
				}
			}
		}
		&:hover, &:focus {
			.post-thumbnail {
				img {
					opacity: .7;
				}
			}
		}
	}
}
